<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Song</a>
    <a class="btn" href="/addvgam">Add New Video Game</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Song Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>link</th>
            <th>Genre</th>
            <th>Rate</th>
            <th>Delete</th>
            <th>Recommend</th>
            <th>Added By</th>
        </tr>

        <% items.forEach(function(item,index){  %>

        <tr><td><%=item.songname%></td>
            <td><%=item.artist%></td>
            <td><%=item.album%></td>
            <td><%=item.link%></td>
            <td><%=item.genre%></td>
            <td><i class="material-icons">star_border</i></td>
            <td><a href="/delete?songname=<%=item.songname%>"><i class="material-icons">delete</i></a></td>
            <td><i class="material-icons">arrow_right_alt</i></td>
            <td><i class="material-icons">account_circle</i></td>
        </tr>

        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
