<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Song Name</th><th>Artist</th><th>Album</th><th>link</th><th>Genre</th>Added By<th>Rate</th><th>Delete</th><th>Recommend</th>
        </tr>

        <% items.forEach(function(item,index){  %>

        <tr><td><%=item.songname%></td>
            <td><%=item.artist%></td>
            <td><%=item.album%></td>
            <td><%=item.link%></td>
            <td><%=item.genre%></td>
            <td>Rate</td>
            <td>Delete</td>
            <td>delete</td>
        </tr>





        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
